@import "../../vars.css";
.skills-container {
  /* padding: 50px;
  background: linear-gradient(135deg, #000428, #004e92); /* Blue and Black Gradient */
  /* color: #ffffff; */
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #b1b4b5; /* Light Blue for the Title */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.skills-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.skills-category {
  width: 30%;
  min-width: 250px;
  background: linear-gradient(135deg, #050114, #2a0d3e);  /* Transparent Black Box */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-category:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.8);
}

.skills-category h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #e3eaec; /* Light Blue for the category headers */
}

.skill-bar {
  margin-bottom: 20px;
}

.skill-bar span {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #00e4ff; /* Slightly brighter blue for skill names */
}

.progress-bar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1); /* Light transparent background */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Inner shadow for depth */
}

.progress {
  height: 12px;
  background-color: #91a3c2; /* Light Sky Blue for progress fill */
  border-radius: 15px;
  transition: width 0.7s ease;
}

@media screen and (max-width: 768px) {
  .skills-category {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .skills-category {
    width: 100%;
  }
}


  