@import "../../vars.css";
.experience-section {
    text-align: center;
    margin: 50px 0;
  }
  
  .skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .skill-card {
    width: 150px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .skill-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .skill-card p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  